* {
    margin: 0px;
    box-sizing: border-box;
}

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.text {
    white-space: pre-line;
}

.navBar {
    height: 10vh;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

.navBar nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border-radius: 0.5rem;
    border-color: #ffffff;
    border-style: inset;
    border-width: 2px;
}

.navButton {
    color: #ffffff;
    opacity: 0.8;
    padding: 0.4rem;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
}
.active {
    opacity: 1;
    background-color: #747bff;
}

.bordered {
    border-color: #253c78;
    border-style: solid;
    border-width: 2px;
}

.dashboard {
    display: flex;
    flex-direction: row;
}

.listWrapper {
    margin: 0px;
    padding: 0px;
    color: white;
    width: 15vw;
    height: 90vh;
    background-color: #2b59c3;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.list {
    margin: 0px;
    padding: 0px;
    color: white;
    width: 15vw;
    height: 90vh;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.listItem {
    margin: 3px;
    color: white;
    width: 90%;
    background-color: black;
}

.selected {
    border-color: #2b59c3;
    background-color: #253c78;
}

.skillOverview {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 45vw;
    height: 90vh;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.hardsoftskill {
    font-size: 1rem;
    font-weight: 100;
}

.icon {
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.info-flex {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.edit {
    align-self: flex-end;
}

.newSkill {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 25vh;
    background-color: black;
}
.naw {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 25vh;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.newMeeting {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 25vh;
    background-color: black;
}

.changerequest {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 30vh;
    background-color: black;
}

.newperson {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 35vh;
    background-color: black;
}

.meetings {
    margin: 0;
    color: white;
    width: 25vw;
    height: 40vh;
    background-color: black;
}
.meetingsList {
    overflow-y: scroll;
    height: 90%;
    width: 100%;
    margin: 0;
    border-top: 1px solid white;
}

.meeting {
    margin: 0;
    color: white;
    border-color: white;
    border-style: solid;
    border-width: 0px;
    border-bottom: 1px solid white;
}

.title {
    width: 100vw;
    background-color: #2b59c3;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.accountPage {
    padding: 5vh;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account .edit {
    display: block;
}

.account {
    margin: 0;
    background-color: black;
    padding: 5vh;
    width: 50vw;
    height: auto;
    color: white;
    align-items: center;
    text-align: center;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    gap: 0.5rem;
}

.feedbackRequest {
    margin: 0;
    padding: 1rem;
    color: white;
    width: 25vw;
    height: 20vh;
    background-color: black;
}

.feedbackOverview {
    margin: 0px;
    padding: 0px;
    color: white;
    width: 100vw;
    height: 90vh;
    background-color: black;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.feedbackPage {
    display: flex;
}

.feedbackInputBox {
    margin: 2.5vw;
    width: 25vw;
    height: 70vh;
    resize: none;
}
.feedbackEditButton {
    position: relative;
    top: 10px;
    left: 30vw;
}

.logout {
    position: absolute;
    left: 20vw;
    top: 1.5vh;
    color: #ffffff;
    opacity: 0.8;
    padding: 0.8rem;
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    border-radius: 10px;
    background-color: #747bff;
}

.importantImage {
    width: 25vw;
    height: 25vh;
}

.cat {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cat-long {
    width: 15vw;
    height: 90vh;
    object-fit: cover;
}

.nav-centering-left {
    width: 30vw;
    text-align: left;
    color: white;
}

.nav-centering-right {
    width: 30vw;
    text-align: right;
}

.traineemeetings {
    margin: 0;
    color: white;
    width: 25vw;
    height: 45vh;
    background-color: black;
}

.completed-skill {
    background-color: #00a5cf;
}

.two-lists {
    display: flex;
    flex-direction: row;
}

@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
    a:hover {
        color: #747bff;
    }
    button {
        background-color: #f9f9f9;
    }
}

@media screen and (max-width: 600px) {
    .dashboard,
    .feedbackPage {
        flex-direction: column;
    }

    .listWrapper {
        width: 50vw;
        max-height: 50vh;
        overflow: auto;
    }

    .one-list > .listWrapper {
        width: 100vw;
    }

    .list {
        width: 100%;
    }

    .navBar {
        flex-direction: column;
        height: 20vh;
        position: sticky;
        top: 0;
        padding-bottom: 0.2rem;
        z-index: 99;
    }

    .nav-centering-right {
        order: -1;
        height: 0px;
        align-self: flex-end;
        padding-top: 0.5rem;
    }
    .nav-centering-left {
        align-self: flex-start;
        width: 80vw;
    }

    .skillOverview,
    .naw,
    .changerequest,
    .newperson,
    .newSkill,
    .feedbackRequest,
    .traineemeetings,
    .account,
    .newMeeting,
    .meetings,
    .feedbackOverview {
        width: 100vw;
        height: max-content;
    }

    nav {
        max-width: 100vw;
        overflow: auto;
    }

    .cat-long,
    .importantImage {
        display: none;
    }

    .feedbackInputBox {
        width: 90vw;
    }

    .feedbackEditButton {
        left: 90vw;
    }
}
